body {
  font-family: Arial, sans-serif;
  background: #ddbaba;
  margin: 0;
  padding: 20px;
}

#eventonica {
  font-size: 40px;
  text-align: center;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#new-event {
  background: rgb(212, 157, 157);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#new-event input,
#new-event textarea {
  padding: 10px;
  border: 1px solid #654646;
  border-radius: 6px;
  font-size: 14px;
}

#new-event button {
  padding: 10px 15px;
  background: rgb(255, 255, 255);
  color: rgb(37, 35, 35);
  border: 2px;
  border-radius: 6px;
  cursor: pointer;
}

#new-event button:hover {
  background: rgb(215, 138, 138);
}

#eventList {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#eventList li {
  background: white;
  padding: 40px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

li input,
li textarea {
  padding: 8px;
  border: 1px solid #9e1b1b;
  border-radius: px;
}

li button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
