body {
  font-family: Arial, sans-serif;
  background: #ddbaba;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

#new-event {
  background: rgb(212, 157, 157);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#new-event input,
#new-event textarea {
  padding: 10px;
  border: 1px solid #654646;
  border-radius: 6px;
  font-size: 14px;
}
