body {
  font-family: Arial, sans-serif;
  background: #ddbaba;
  margin: 0;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #e7c4c4, #d19a9ac2);
  color: #3b2b2b;
  padding: 20px;
}

.home-button {
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  color: #5a3a3a;
  font-size: 20px;
  font-weight: bold;
  transition: 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.home-button:hover {
  background: #f3d1d1;
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  color: #5a3a3a;
}

#eventonica {
  font-size: 40px;
  text-align: center;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #3b2b2b;
  display: flex;
  flex-direction: column;
}

#new-event {
  background: rgb(212, 157, 157);
  padding: 15px 25px;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

#new-event input,
#new-event textarea {
  padding: 10px;
  border: 1px solid #832e2e;
  border-radius: 6px;
  font-size: 14px;
}

#new-event button {
  padding: 10px 15px;
  background: rgb(255, 255, 255);
  color: rgb(37, 35, 35);
  border: 2px;
  border-radius: 6px;
  cursor: pointer;
}

#new-event button:hover {
  background: rgb(215, 138, 138);
}

#eventList {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* space between boxes */
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#eventList li {
  background: white;
  padding: 40px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

li input,
li textarea {
  padding: 8px;
  border: 1px solid #9e1b1b;
  border-radius: px;
}

li button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
